<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SqlInterceptorsTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Ascentis.Infrastructure.SqlInterceptors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
      <Ascentis.Infrastructure.SqlInterceptors.Properties.Settings>
        <setting name="HashInjectionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="RegExInjectionEnabled" serializeAs="String">
          <value>True</value>
        </setting>
      </Ascentis.Infrastructure.SqlInterceptors.Properties.Settings>
      <SqlInterceptorsTest.Properties.Settings>
        <setting name="ConnectionString" serializeAs="String">
          <value>Server=SEBAMACPROWIN10\SQLVM; Database=master; Trusted_Connection=True;</value>
        </setting>
        <setting name="MachineNameMatchString" serializeAs="String">
          <value>SEBAMACPROWIN10</value>
        </setting>
      </SqlInterceptorsTest.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ascentis.SimpleMemoryCache" publicKeyToken="1371ebc800287771" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>