<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ascentis.Infrastructure.SqlInterceptors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ascentis.Infrastructure.SqlInterceptors.Properties.Settings>
            <setting name="HashInjectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RegExInjectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StackFrameInjectionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StackEntriesReportedCount" serializeAs="String">
                <value>10</value>
            </setting>
        </Ascentis.Infrastructure.SqlInterceptors.Properties.Settings>
    </applicationSettings>
</configuration>